*{
    margin: 0.5rem;
}

header{
    display: flex;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 40px;
    font-style: normal;
    
    
}
h1{
    font-weight: normal;
    margin-top: 1rem;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: x-large;
    

}

li:hover{
    cursor: pointer;
    color: blueviolet;
}
nav{
    width: 30vw;
    margin-top: 5px;
}
.bigimg{

    margin-left: 1rem;
    width: 95vw;
    margin-left: 20px;
    height: 40vw;

}
#content{
    display: flex;
    justify-content: space-between;
    margin: 4rem;
    padding: 10px;
}
#content div{
    text-align: center;
    font-style: normal;
    padding: 1rem;
}
div p{
    font-size: larger;
    margin-top: 2rem;
}
footer{
    text-align: center;
    color: antiquewhite;
    background-color: black;
    height: 2rem;
    padding: 1rem;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 